!!! 5
%title Hamler
%link{ :rel => 'stylesheet', :href => 'http://code.jquery.com/qunit/qunit-1.10.0.css' }
#qunit
#qunit-fixture
%script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' }
%script{ :src => 'http://code.jquery.com/qunit/qunit-1.10.0.js' }
%script{ :src => '../hamler.js' }
%script{ :src => './tests.js' }