!!! 5
%title Hamler
%style
  * { border: 1px solid #DDD; font-size: 1em; padding: 1em; margin: 0; }
  *::after { background: #DDD; content: '.' attr(class) '#' attr(id  ); margin-left: 1em; }
/ %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' }
%script{ :src => './lib/require.js' }
/ %script{ :src => './renderbit.js' }
%script{ :src => './scripts/hamler-demo.js' }